<div class="fullscreen-container">
{{!-- Check if review exists --}}
 <form id="edit-review-form">
{{#if review}}
<section>
  <h2>Edit Review</h2>
 
  <input type="hidden" name="reviewId" value="{{review.id}}">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{review.book.title}}</p>
          <p class="subtitle is-6">{{review.book.author}}</p>
        </div>
      </div>
  <textarea id="title" name="reviewTitle">{{review.title}}</textarea>
      <textarea id="body" name="reviewBody">{{review.body}}</textarea>
      <textarea id="score" name="reviewScore">{{review.score}}</textarea>
      <div class="card">
        <footer class="card-footer">
           <button type="submit" class="card-footer-item">Save Review</button>
        </footer>
      </div>
    </div>
  </div>
  
</section>
{{else}}
<p>No reviews found.</p>  
{{/if}}
</form>
</div>
<script src="/js/editreview.js"></script>