{{#if books_data.length}}
{{#each books_data as |book|}}
<section>
  <div class="card">
    <div class="card-content">
      <!-- Book information -->
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{book.volumeInfo.title}}</p>
          <p>Publisher: {{book.volumeInfo.publisher}}</p>
          <p>Published Date: {{book.volumeInfo.publishedDate}}</p>
          <p>Description: {{book.volumeInfo.description}}</p>
          

          {{!-- {{!-- Display reviews --}}
          {{#if array_revised.length}}
              {{#each array_revised as |a|}}
                  {{#if (eq a.google_book_id book.id)}}
                  
                    <p>{{a.title}}</p>
                    <p>{{a.body}}</p>
                    <p>{{a.score}}</p>
                  {{else}}
                    <p>Nnope.</p>
                  {{/if}}
              {{/each}}
          {{else}}
          <p>No books found.</p>
          {{/if}}
          {{!-- {{else}}
                  <p>No reviews available for this book.</p>
                {{/if}} --}}
 
          {{!-- Add Review button --}}
          <a href="/findbook/{{book.id}}" class="button is-primary">Add Review</a>
          <a href="/viewreview/{{book.id}}" class="button is-primary">View Reviews</a>
          {{!-- <a href="/createreview/{{book.id}}" class="button is-primary">Add Review</a>
          --}}
        </div>
      </div>
    </div>
  </div>
</section>
{{/each}}
{{else}}
{{!-- <p>No books found.</p> --}}
{{/if}}