{{#if reviews.length}}

  <p class="title is-4">Your Reviews</p>
            
  {{#each reviews as |review|}}
  <section>
    <div class="card">
      <div class="card-content">
        <div class="media">
         
          <div class="media-content">
          
        <div class="content">
         
          <p class="title is-4">{{review.book.title}}</p>
          <p class="subtitle is-4">{{review.title}}</p>
          <p class="subtitle is-6">{{review.body}}</p>
          <p class="subtitle is-6">Score:{{review.score}}</p>
        </div>
          <footer class="card-footer">
            <a href="/reviewsedit/{{review.id}}" class="card-footer-item" id="edit-review">Edit</a>
            <a href="#" class="card-footer-item" id="delete-review" data-id="{{review.id}}">Delete</a>
          </footer>
      </div>
    </div>
    </section>
  {{/each}}

{{else}}
<p>No reviews found.</p>
<a href="/toppicks" class="card-footer-item" >Add Review</a>
{{/if}}

<script src="/js/reviews.js"></script>




