{{#if reviews.length}}
<section>
  <h2>Your Reviews</h2>
  {{#each reviews as |review|}}
    <div class="card">
      <div class="card-content">
        <div class="media">
         {{!--  <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{this.image}}" alt="Book Image">
            </figure>
          </div> --}}
          <div class="media-content">
            {{!-- <p class="title is-4">{{this.title}}</p> --}}
             <p class="title is-4">{{review.book.title}}</p>
            <p class="subtitle is-6">{{review.book.author}}</p>
          </div>
        </div>
        <div class="content">
          {{review.title}}
          {{review.body}}
          <br>
          <time datetime>Created on {{review.created_at}}</time>
        </div>
        <div class="card">
          <footer class="card-footer">
            <a href="#" class="card-footer-item" id="edit-review">Edit</a>
            <a href="#" class="card-footer-item" id="delete-review" data-id="{{review.id}}">Delete</a>
          </footer>
        </div>
      </div>
    </div>
  {{/each}}
</section>
{{else}}
<p>No reviews found.</p>
{{/if}}
<script src="/js/reviews.js"></script>

